--index-url https://download.pytorch.org/whl/cu118
torch 
torchvision 
torchaudio 
xformers
torchmetrics
iopath
omegaconf
fvcore
bokeh
scikit-image
colorcet
matplotlib
pandas
datashader
holoviews
bottleneck
brotlipy
cytoolz
datashader
wandb
h5py
easydict
scikit-learn
timm
open-clip-torch
fairscale
tensorboard